#primeiro-titulo {
    position: absolute;
    top: 0;
    left: 100px;
}

#pai {
    position: reative;
    width: 200px;
    height: 200px;
    top: 30px;
}

#fixo {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: #fff; 
}