#primeiro-titulo {
    border: 5px solid #235487;
}

#segundo-titulo {
    border: 3px double red;
}

.paragrafo {
    border-top: 5px solid blue;
    border-left: 2px solid gold;
    border-right: 10px solid red;
    border-bottom: 3px dotted purple;
}