@keyframes animacao {
	from {background-color: red;}
	to {background-color: yellow;}
}

@keyframes animacao2 {
	0% {}
	30% {width: 100px;}
	60% {backgorund-color: red;}
	80% {left: 100px; backgorund-color: blue;}
	100% {height: 100px;}
}

@keyframes animacao3 {
	from {left: 0;}
	to {left: 200px; background-color: blue;} 
}

@keyframes animacao4 {
	from {left: 0;}
	to {left: 500px}
}

@keyframes animacao5 {
	0% {left: 0px;}
	25% {left: 20px; background-color: blue;}
	60% {left: 100px; background-color: orange;}
	100% {left: 60px; background-color: red;}
}

.animation-div {
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: animacao;
	animation-duration: 5s;
}

.animation-div2 {
	width: 200px;
	height: 200px;
	background-color: black;
	animation-name: animacao2;
	animation-duration: 6s;
	position: relative;
}

.animation-div3 {
	width: 100px;
	height: 100px;
	background-color: purple;
	position: relative;
	animation-name: animacao3;
	animation-duration: 3s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

/* timing function */
.box {
	background-color: orange;
	width: 100px;
	height: 100px;
	position: relative;
	animation-name: animacao4;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

#animation-div4 {
	animation-timing-function: linear;
}

#animation-div5 {
	animation-timing-function: ease;	
}

#animation-div6 {
	animation-timing-function: ease-in;	
}

#animation-div7 {
	animation-timing-function: ease-out;	
}

#animation-div8 {
	animation-timing-function: ease-in-out;
}

/* shorthand - nome, duracao, timing-function, delay, iteration */
#animation-div9 {
	background-color: darkblue;
	width: 50px;
	height: 50px;
	position: relative;
	animation: animacao5 8s ease-out 4s infinite;
}

.btn {
	display: block;
	position: relative;
	padding: 10px;
	margin-bottom: 25px;
	width: 150px;
	height: 75px;
	color: #fff;
	text-transform: uppercase;
	background-color: #333;
	border: 1px solid #333;
	cursor: pointer;
	text-align: center;
	transition: 1s;
}

.btn:hover {
	color: #333;
	background-color: #fff;
}

.transition {
	width: 50px;
	height: 100px;
	background-color: red;
	transition: 4s;
}

.transition:hover {
	width: 300px;
}

/* calc */
.div-calc {
	height: 250px;
	width: 500px;
	position: relative;
	margin:20px;
	background-color: #ddd;
	border: 1px solid red;
}

.innerdiv-calc {
	height: 50px;
	margin: 10px;
	position: relative;
	background-color: red;
}

/* Calculos */
.calc1 {
	width: calc(50% + 50px );
}

.calc2 {
	width: calc(50% - 50px);
}

.calc3 {
	width: calc(50% * 50px);
	margin: 0;
}

.calc4 {
	width: calc(50% / 50px);
}

/* Degrade */

/* @keyframes: passo a passo da animacao*/
